doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title Let's go to the beach!
		link(rel="stylesheet" href="css/style.css")
body
	#UVDiv.chartDiv
	#tempDiv.chartDiv
	
	script(src="lib/socket.io.js")
	script(src="lib/amcharts/amcharts.js")
	script(src="lib/amcharts/serial.js")
	script(src="js/chart.js")
