doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title Let's go to the beach!
		link(rel="stylesheet" href="css/style.css")
body
	#UVDiv.chartDiv
	#tempDiv.chartDiv
	#readings
		h2 Current UV Index: #[span(id="uv")]
		h2 Current temperature: #[span(id="temp")] °C
	
	script(src="lib/amcharts/amcharts.js")
	script(src="lib/amcharts/serial.js")
	script(src="lib/jquery-2.1.4.js")
	script(src="js/chart.js")
